// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Default
*
{
    margin: 0;
}

// Colors
:root // Light mode
{
    --background: #e8e8ee;
    --foreground: #68688d;
    --shadow: #{rgba(#4e4e6a, .5)};
    --white: #ffffff;
    --gradient: linear-gradient(to right, #7474bf, #348ac6);
    --pulse-opacity: .9;
}

@media (prefers-color-scheme: dark) // Dark mode
{
    :root
    {
        --background: #121217;
        --foreground: #9595b1;
        --shadow: transparent;
        --white: #0e0e11;
        --pulse-opacity: .6;
    }
}

//Body
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    color: var(--foreground);
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}

body > *
{
    opacity: 0;
    transform: translateY(.5rem);
    transition: opacity .5s ease,
                transform .7s ease;
}

// Fixes
.rotate
{
    rotate: 1deg;
}

// Logo
#logo
{
    display: grid;

    img
    {
        grid-area: 1 / 1;
        width: 12rem;
    }

    .blurred
    {
        filter: blur(1rem);
        opacity: .4;
    }
}

// Season info
#season-info
{
    text-align: center;

    button
    {
        color: transparent;
        background: var(--gradient);
        border: none;
        cursor: pointer;

        background-clip: text;
        -webkit-background-clip: text;

        &::after
        {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: var(--gradient);
            transition: .3s ease;
        }

        &:hover::after
        {
            width: 100%;
        }
    }
}

// Server URL
code
{
    position: relative;
    padding: 1rem 2rem;
    background: var(--white);
    font-family: 'JetBrains Mono', monospace;
    border-radius: 1rem;
    box-shadow: var(--shadow) 0 .5rem 2rem -.5rem;
    cursor: pointer;

    #tooltip
    {
        visibility: hidden;
        position: absolute;
        bottom: 4rem;
        left: 50%;
        width: max-content;
        padding: .5rem 1rem;
        color: var(--foreground);
        background: var(--white);
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-radius: .5rem;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, 1rem);
        transition: .3s;
    }

    #tooltip::after
    {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: var(--white) transparent transparent transparent;
    }
}

code:hover #tooltip
{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%)
}

// Status indicator
#status
{
    display: flex;
    align-items: center;
    gap: .8rem;

    #status-indicator
    {
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        animation: pulse 3s infinite ease-out; // This will unfortunately lag on Firefox, but I don't know how to fix it
        background: rgb(var(--color));

        &.online
        {
            --color: 50, 220, 100;
        }

        &.offline
        {
            --color: 250, 180, 60;
        }
    }
}

// World download dialog
dialog
{
    width: 100%;
    height: 100%;
    background: rgba(black, .5);

    // Actual popup
    > div
    {
        // Some weird stuff needed to position it in the center
        position: absolute;
        inset: 0;
        width: fit-content;
        height: fit-content;
        margin: auto;

        padding: 1.5rem;
        color: var(--foreground);
        background: var(--background);
        border-radius: 2rem;

        // Download list
        #downloads
        {
            margin: 1rem 0;

            .download-link
            {
                display: flex;
                min-width: 35ch;

                color: transparent;
                background: var(--gradient);
                background-clip: text;
                -webkit-background-clip: text;

                // Color needs to explicitly be reset for links because css is dumb
                a
                {
                    color: transparent;

                    &:hover
                    {
                        color: rgba(white, .2);
                    }
                }

                p
                {
                    margin-left: auto;
                }
            }

            // Download icon
            span
            {
                vertical-align: bottom;
            }
        }

        button
        {
            float: right;
            padding: .5rem;
            color: var(--foreground);
            background: var(--white);
            border: none;
            border-radius: .5rem;
            cursor: pointer;
        }
    }
}

// Pulse animation
@keyframes pulse
{
    20%
    {
        box-shadow: 0 0 0 0 rgba(var(--color), var(--pulse-opacity));
        transform: scale(.93);
    }

    90%
    {
        box-shadow: 0 0 0 .6rem rgba(var(--color), 0);
    }
}
