// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Colors
$background: #e8e8ee;
$foreground: #68688d;
$shadow: rgba(#4e4e6a, .5);
$white: #ffffff;

// Default
*
{
    margin: 0;
}

//Body
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    color: $foreground;
    background: $background;
    font-family: 'Poppins', sans-serif;
}

// Server URL
code
{
    position: relative;
    padding: 1rem 2rem;
    background: $white;
    font-family: 'JetBrains Mono', monospace;
    border-radius: 1rem;
    box-shadow: $shadow 0 .5rem 2rem -.5rem;
    cursor: pointer;

    #tooltip
    {
        visibility: hidden;
        position: absolute;
        bottom: 4rem;
        left: 50%;
        width: max-content;
        padding: .5rem 1rem;
        color: $foreground;
        background: $white;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        border-radius: .5rem;
        opacity: 0;
        transform: translate(-50%, 1rem);
        transition: .3s;
    }

    #tooltip::after
    {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: $white transparent transparent transparent;
    }
}

code:hover #tooltip
{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%)
}
